@import "_base";
$theme_color: #a02024;
@font-face {
  font-family: "iconfont";
  src: url('/public/fonts/iconfont.woff');
}
#banner{
  width:100%;
  height: 450px;
  background-color: #eee;
  .top_banner{
    @include rect(1200px,100%);
    overflow: hidden;
    margin:0 auto;
    img{
      width:100%;
    }
  }
}

.container {
  width: 1200px;
  margin: 0 auto;
}

.container:after {
  content: "";
  height: 0;
  display: block;
  clear: both;
}